.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.heading-btn {
  border: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  border-radius: 30px;
  cursor: pointer; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1781px;
  margin: 0 auto; }
